<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../static/jquery.min.js"></script>
	<script type="text/javascript" src="../controller/libs/drawShadowOnMouseOveredDOM.js"></script>
	<script type="text/javascript" src="../controller/libs/click.js"></script>
	<script type="text/javascript" src="../controller/libs/stopAtag.js"></script>
	<script type="text/javascript" src="startToggleGuideMode.js"></script>
	<style>
		body {

			min-width: 300px;
			min-height: 50px;
		}
	</style>
</head>
<body>
	<div><p>Making Guide Mode Started!<br />Click the element to make a Guide!<br />(You can disable making guide mode by click this button again.)</p></div>
</body>
</html>